{% extends "seller/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard:</h1>
{% for dark_store,count in dark_stores %}

<div class="card">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <div class="d-flex">
        <h5 class="card-title w-50"> <a href="{%url 'dark_store' dark_store.id%}" class="text-decoration-none text-dark-emphasis">{{dark_store.name}}</a></h5> <h5 class="float-left text-end w-50"><a href="{%url 'seller_orders' dark_store.id %}" class="btn btn-danger rounded-circle">{{count}}</a></h5>
      </div>
      <p class="card-text"> {{dark_store.location}} </p>
    </div>
  </div>
{% endfor %}
{% endblock %}