{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
<h1>Shipping Details:</h1>
<h2>Username: {{shipping_details.user.username}}</h2>
<h2>Phone: {{shipping_details.phone}}</h2>
<h2>Address: {{shipping_details.shipping_address}} </h2>
<h1>Order Summary:</h1>
<table class="table">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for item,totals in items%}
    <tr>
        <th> {{item.product.title}} </th>
        <td>{{item.quantity}}</td>
        <td>{{item.product.price}} </td>
        <td>{{totals}} </td>
    </tr>
    {% endfor %}
    <th colspan="3">Final Amount </th>
    <td>{{total}}</td>
</table>
<form method = "POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirm Order</button>
</form>
{% endblock %}