{% extends "base.html" %}  
{% block title %}Checkout{% endblock %}
{% block content %}
{% if items %}
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for item,totals in items%}
        <tr>
            <th> {{item.product.title}} </th>
            <td>{{item.quantity}}
            </td>
            <td>{{item.product.price}} </td>
            <td>{{totals}} </td>
        </tr>
        {% endfor %}
        <th colspan="3">Final Amount </th>
        <td>{{total}}</td>
    </table>
    <a href="{%url 'checkout_second'%}" class="btn btn-success">Proceed To Payment</a>
{% else %}
    <h1>Your cart is empty. <a href="{%url 'products'%}"> Add something now.</a></h1>
{% endif %}
{% endblock %}