{% extends "base.html" %}

{% block title %}Orders{% endblock %}
{% block content %}
{% if orders %}
<table class="table">
    <tr>
        <th>Order No.</th>
        <th>Total</th>
        <th>Status</th>
        <th>Created Date</th>
    </tr>
    {% for order in orders%}
    <tr onmouseover="mouseover(this)" onmouseout="mousedown(this)" onclick="window.location = '{%url 'order_page' order.id %}'">
        <th> {{order.order_no}}</th>
        <td>{{order.total}}</td>
        <td>{{order.status}} </td>
        <td>{{order.updated_at}} </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>No orders Till now. <a href="{%url 'products'%}"> Buy something now.</a></h1>
{% endif %}
<script>
    function mouseover(event){
        event.style.cursor = 'pointer';
        event.style.transform = "scale(1.01)";
    }
    function mousedown(event){
        event.style.transform = "none"
    }
</script>
{% endblock %}